# Python cache and compiled files
__pycache__/
*.py[cod]
src/**/__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# VS Code settings
.vscode/

# Virtual environment
.venv/
venv/

# Figures (if generated automatically)
# figures/